  <div class="page-header">
    <h1>Todos los estados</h1>
  </div>
  <%= link_to "Crear un nuevo post",new_status_path, class:"btn btn-success"%>

  <% @statuses.each do |status| %>

  <div class="status">
    <strong><%= status.name %></strong>
    <p><%= status.content %></p>
    <div>
      <%= link_to time_ago_in_words(status.created_at) +" Ago",status%>
      <span class="admin">
      | <%= link_to "Editar", edit_status_path(status) %> |
        <%= link_to "Borrar", status, metod: :delete, data:{confirm: "¿Estas seguro que
          quieres borrar este estado?"}%>
      </span>
    </div>
  </div>

  <% end %>
