<!DOCTYPE html>
<html>
<head>
  <title>Whattodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a href="#" class="navbar-brand">What to do</a>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Status", statuses_path%></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in?%>
          <li><%= link_to current_user.full_name,  edit_user_registration_path%></li>
          <li><%= link_to "Cerrar sesión",  destroy_user_session_path, method: :delete%></li>
          <%else%>
          <li><%= link_to "Registrar",  new_user_registration_path%></li>
          <li><%= link_to "Iniciar sesión",  new_user_session_path%></li>
          <% end%>
        </ul>
    </div>
  </div>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <%= yield %>
  </div>
</body>
</html>
